.home-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details {
  display: flex;
  flex-wrap: wrap;
}
app-custom-input {
  margin: 2px;
}
