<div class="home-container" [formGroup]="homeForm">
  <ng-container formArrayName="details">
    <h2>ControlValueAccessor in Angular</h2>
    <div class="details">
      <ng-container
        *ngFor="let lessonForm of details.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="form">
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput placeholder="title" formControlName="title" />
          </mat-form-field>
          <app-custom-input
            [minItems]="3"
            [maxItems]="5"
            formControlName="data"
          ></app-custom-input>
        </div>
      </ng-container>
      <button
        mat-fab
        aria-label="Delete item"
        color="primary"
        (click)="addDetails()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </ng-container>

  <pre>

    {{ homeForm.getRawValue() | json }}
  </pre>
</div>
{{ minItems }}
