<div class="modal-header">
  {{ "CompareImages" | translate }}
  <button class="btn btn-default btn-xs border-0" (click)="bsModalRef.hide()">
    <div class="material-icons">close</div>
  </button>
</div>

<div class="modal-body">
  <div class="compare-image row">
    <div class="col-2 p-0 vertical-images-wrapper">
      @if (isVerticalScrollable) {
        <button type="button" class="align-self-center btn-grey-border" (click)="scrollUp()">
          <span class="material-icons flex-centered"> expand_less </span>
        </button>
      }
      <div class="vertical-images" #verticalImage>
        <div
          *ngFor="let image of images; let index = index"
          cdkDropList
          (cdkDropListDropped)="onDragAndDrop($event)"
          [cdkDropListConnectedTo]="pccIds"
          [id]="pccIds[index]"
          class="flex-centered"
        >
          <img class="checkerboard card-img-top" [src]="image" alt="Image" />
        </div>
      </div>
      @if (isVerticalScrollable) {
        <button type="button" class="align-self-center btn-grey-border" (click)="scrollDown()">
          <span class="material-icons flex-centered"> expand_more </span>
        </button>
      }
    </div>
    <div class="col-8 p-0">
      <div class="main-image">
        <img class="checkerboard card-img-top" [src]="images[0]" alt="Image" />
      </div>
      <div class="horizontal-image-wrapper">
        @if (isHorizontalScrollable) {
          <button type="button" class="align-self-center btn-grey-border p-1 h-100" (click)="scrollLeft()">
            <span class="material-icons flex-centered"> chevron_left </span>
          </button>
        }
        <div
          class="horizontal-image"
          #horizontalImage
          cdkDropList
          [cdkDropListData]="images"
          [cdkDropListConnectedTo]="pccIds"
          (cdkDropListDropped)="onDragAndDrop($event)"
        >
          <div
            *ngFor="let image of images"
            cdkDrag
            [cdkDragData]="image"
            class="flex-centered horizontal-img grab-cursor"
          >
            <img class="checkerboard card-img-top" [src]="image" alt="Image" />
          </div>
        </div>
        @if (isHorizontalScrollable) {
          <button type="button" class="align-self-center btn-grey-border p-1 h-100" (click)="scrollRight()">
            <span class="material-icons flex-centered"> navigate_next </span>
          </button>
        }
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="modal-footer">
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="save()">
      {{ "Save" | translate }}
    </button>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
      {{ "Cancel" | translate }}
    </button>
  </div>
</div> -->
